<footer class="dark">
  <div class="div_middle">
    <div class="left">
      <!--      <p class="logo" itemscope="" itemtype="http://schema.org/Organization">-->
      <!--        <a itemprop="url" href="/">-->
      <!--          <img itemprop="logo" src="//truyen48.com/template/frontend/images/logo-dark.png" >-->
      <!--        </a>-->
      <!--      </p>-->
      <p class="detail">Hotline: 043.838.5684</p>
      <p class="link">Email: f0athome@gmail.com</p>
    </div>
    <div class="right">
      <!--      <ul>-->
      <!--        <li><a href="/the-loai/chuyen-sinh-91.html">Chuyển Sinh</a></li>-->
      <!--        <li><a href="/the-loai/manhwa-49.html">Manhwa</a></li>-->
      <!--        <li><a href="/the-loai/manhua-35.html">Hanhua</a></li>-->
      <!--        <li><a href="/the-loai/dam-my-93.html">Đam Mỹ</a></li>-->
      <!--        <li><a href="/the-loai/romance-36.html">Romance</a></li>-->
      <!--        <li><a href="/the-loai/ngon-tinh-87.html">Ngôn Tình</a></li>-->
      <!--        <li><a href="/the-loai/co-dai-90.html">Cổ Đại</a></li>-->
      <!--        <li><a href="/the-loai/xuyen-khong-88.html">Xuyên Không</a></li>-->
      <!--        <li><a href="/the-loai/fantasy-30.html">Fantasy</a></li>-->
      <!--        <div class="clear"></div>-->
      <!--      </ul>-->
      <p></p>
    </div>
    <div class="clear"></div>
  </div>
</footer>
