<div>
  <h2>
    <span id="user-management-page-heading" data-cy="userManagementPageHeading">Category</span>

    <form name="editForm" role="form" novalidate [formGroup]="editForm">
      <div class="form-group">
        <input class="form-control" formControlName="search" />

        <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span>Search</span>
        </button>
        <button class="btn btn-danger mr-2" (click)="clear()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span>Cancel</span>
        </button>
      </div>
    </form>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh</span>
      </button>

      <button class="btn btn-primary jh-create-entity" [routerLink]="['./new']"><fa-icon icon="plus"></fa-icon> <span>Create</span></button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="table-responsive" *ngIf="categories">
    <table class="table table-striped" aria-describedby="user-management-page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>

          <th scope="col" jhiSortBy="login">
            <span>Category name</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
        </tr>
      </thead>
      <tbody *ngIf="categories">
        <tr *ngFor="let category of categories; trackBy: trackIdentity">
          <td>
            <a [routerLink]="['./', category.id, 'view']">{{ category.id }}</a>
          </td>
          <td>{{ category.name }}</td>
          <td></td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['./', category.id, 'view']" class="btn btn-info btn-sm">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['./', category.id, 'edit']" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="button" (click)="deleteCategory(category)" class="btn btn-danger btn-sm">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="categories">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
      ></ngb-pagination>
    </div>
  </div>
</div>
